.form-section {
  margin-bottom: 20px;
}

.form {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 400px;
  margin: auto;
}

.form input {
  background: transparent;
  border: 0;
  border-bottom: 2px solid darkgray;
  padding: 5px 0;
  text-align: center;
  font-size: 16px;
  font-family: inherit;
  font-weight: 400;
  outline: none;
}

.form input:focus {
  border-bottom: 2px solid gray;
}

.form input:focus::-webkit-input-placeholder {
  color: transparent
}

.form input:focus::-moz-placeholder {
  color: transparent
}

.form input:focus:-moz-placeholder {
  color: transparent
}

.form input:focus:-ms-input-placeholder {
  color: transparent
}

.form input::placeholder {
  color: #bababa;
}

.form button {
  margin-top: 10px;
  background: transparent;
  border: 2px solid darkgray;
  padding: 5px 10px;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 700;
  transition: all 200ms ease;
  color: darkgray;
}

.form button:hover {
  border: 2px solid gray;
  color: gray;
}
