p {
  margin: 0;
  padding: 0;
}

h4 {
  text-align: center;
}

.hourlyInfo {
  margin: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.hourlyInfo li {
  list-style: none;
  text-align: center;
}
