@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

body {
  width: 100%;
  height: 100%;
  background: rgba(10,194,255,1);/* Old Browsers */
  background: -moz-linear-gradient(-45deg, rgba(10,194,255,1) 0%, rgba(194,240,255,1) 29%, rgba(0,196,255,1) 78%, rgba(138,226,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(10,194,255,1)), color-stop(29%, rgba(194,240,255,1)), color-stop(78%, rgba(0,196,255,1)), color-stop(100%, rgba(138,226,255,1)));/* Chrome, Safari4+ */
  background: -webkit-linear-gradient(-45deg, rgba(10,194,255,1) 0%, rgba(194,240,255,1) 29%, rgba(0,196,255,1) 78%, rgba(138,226,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(-45deg, rgba(10,194,255,1) 0%, rgba(194,240,255,1) 29%, rgba(0,196,255,1) 78%, rgba(138,226,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(-45deg, rgba(10,194,255,1) 0%, rgba(194,240,255,1) 29%, rgba(0,196,255,1) 78%, rgba(138,226,255,1) 100%); /* IE 10+ */
  background: linear-gradient(135deg, rgba(10,194,255,1) 0%, rgba(194,240,255,1) 29%, rgba(0,196,255,1) 78%, rgba(138,226,255,1) 100%);/* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0ac2ff', endColorstr='#8ae2ff', GradientType=1 );/* IE6-9 fallback on horizontal gradient */
}

.spinner {
	position: absolute;
	top: 50%;
	left: 50%;
}

@media screen and (max-width: 768px) {
  .slick-arrow {
    display: none !important;
  }
}

@media screen and (max-width: 426px) {
  .form button {
    display: none;
  }
}
